<div class="alert alert-block alert-info" style="margin-top: 20px"><h1>Python</h1>
<code>By AKSHAY KASHYAP</code></div>

<div class="alert alert-block alert-danger" style="margin-top: 20px">
    <h3>Python</h3><hr>
    <p>
        <code>Python</code> is a <code>high-level</code>, <code>interpreted</code> programming language known for its simplicity and readability.<br> It supports multiple programming paradigms and comes with a comprehensive standard library,<br> making it versatile for a wide range of applications from web development to scientific computing.</p>
</div>

<hr><div>
<h3>Let's <code>print</code> something</h3><hr>
    <code>print("")</code> what ever we write inside "" will be print<br>
    Here I wanna to print <code>Hello Universe!!!!</code><hr>
    The way we write <code>print("")</code> is called <code>syntax</code>, different programming language<br>
    have different <code>syntax</code>.
</div><hr>

In [1]:
print("Hello Universe!!!")

Hello Universe!!!

In [2]:
print("Hello!!! I'm Akshay")

Hello!!! I'm Akshay

<hr>I wanted to print I'm Akshay in new line<hr>
Hello!!!<br>
I'm Akshay<hr>

In [3]:
print("Hello!!! \nI'm Akshay")

Hello!!!
I'm Akshay

<hr>hurryyyyyy!!!!!!<hr>

<code>\n</code> : enter (new line)<br>
<code>\t</code> : tab<br>
<code>\\</code> : \ <br>
<code>\b</code> : backspace<br>

In [4]:
print(r"Hi \name") # r to print in raw (as it is)

print("______________")

print("Hi \name") # without r

Hi \name
______________
Hi
ame

<hr><div>
    Let's try to see some more print given below:<br>
    <li><code>It's Python Notebook</code></li>
    <li><code>"Python" by Akshay</code></li>
    <li><code>I'm "WOW"</code></li>
    <code>Kabir's quote is:<br>"If you want the truth,<br>I'll tell you the truth:<br>Listen to the secret sound,<br>the real sound, which is inside you" </code>
</div><hr>

In [5]:
print("It's Python Notebook") # here we print single quote,
# that's why we wrote inside "" double quote

It's Python Notebook

In [6]:
print('"Python" by Akshay') # here we print double quote, 
# that's why we wrote inside '' single quote

"Python" by Akshay

In [7]:
# here we want both single and double qoute 
print('    I\'m "WOW"    ') # \ to skip (') from getting interpreted 

# space are just to show single quote although 'space' also get printed

    I'm "WOW"

In [8]:
print('Kabir\'s quote is:\n"If you want the truth,\nI\'ll tell you the truth:\nListen to the secret sound,\nthe real sound, which is inside you"')

Kabir's quote is:
"If you want the truth,
I'll tell you the truth:
Listen to the secret sound,
the real sound, which is inside you"

<hr><h3>Hey, it's time for some <code>Numerical</code> operation</h3><hr>

In [9]:
2 + 3 # addition

5

In [10]:
9 - 7 # substraction

2

In [11]:
2 * 2 # multiplication

4

In [12]:
2 ** 3 # power

8

<hr><h4>Division</h4><hr>

In [13]:
5 / 2 # division

2.5

In [14]:
5 // 2 # integer division (Quotient)

2

In [15]:
5 % 2 # modulus division (remainder)

1

<hr><h3>Let's see <code>Variable</code>, <code>assign</code> and do print & operation</h3><hr>

<div class="alert alert-block alert-danger" style="margin-top: 20px">
<code>Variable</code> is basically a <code>label</code> of container, to <code>identify</code> it
<div>

In [16]:
a = 5  # assign int
b = 2.7 # assign float
c = "Python" # assign string ("" or '' must)
d = "is great"

f = True # boolean (True | False or O | !)

In [17]:
print(a) # no need to write "" or '' beacuse "a" is variable
print(b)

5
2.7

In [18]:
print(c)

Python

In [19]:
print(f)

True

In [20]:
a + b # add using variables

7.7

In [21]:
a - b # substract using variables

2.3

In [22]:
a ** b # power using variables

77.12923284000122

In [23]:
print(c+" "+d) # " " , is to provide space 
print(c+d)

Python is great
Pythonis great

<hr><div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Data Type</h3></div>
<div>
    <li>int : integer</li>
    <li>float : number with decimal value</li>
    <li>bool : boolean ( True, False | o,1 )</li>
    <li>str : string ( any alphabet, character, quoted_number( "9" ) )</li>
    <code>NOTE:</code><br>
    There are more data type in python , visit python official site
</div>
<hr>

<hr><div>During knowing <code>data type</code> we will also learn different <code>way of printing</code>
<div><hr>

In [24]:
a = 21 # assign int
b = 99.9 # assign float
c = "Akshay" # assign string ("" or '' must)
d = "21"  # assign string
e = True # boolean (True | False or O | !)

In [25]:
type(a)

int

In [26]:
ttt = type(b)
print(ttt)

<class 'float'>

In [27]:
print(type(c))

<class 'str'>

In [28]:
print("type of d:" ,type(d)) 
print("type of e:" ,type(e))

type of d: <class 'str'>
type of e: <class 'bool'>

<div><hr><code>Type casting</code> changing one type to another<hr><div>

In [29]:
# let's change, a : from int to float
float(a)
type(a) 

# notice here its showing int only instead of float
# because after changing we didn't assign

int

In [30]:
print(type(float(a))) 


# huhhhh comlicated ? let me break down for you 
    # f = float(a)
    # t = type(f)
    # print(t)

<class 'float'>

In [31]:
#Note: again we did't assign after type cast so original 'a' is still int
print("_______ original:",type(a))

_______ original: <class 'int'>

<hr>float to int ,  we get only interger part, not decimal <hr>

In [32]:
int(b) # float to int , b=99.9 , but here it trimmed decimal part

99

In [33]:
str(b)

'99.9'

In [34]:
int(d) # string to decimal only numer will be converted, not alphabet

21